- if @recipe.errors.present?
  %ul#error_explanation
    - @recipe.errors.full_messages.each do |message|
      %li= message

.nav.justify-content-end
  = link_to '一覧', recipes_path, class: 'nav-link'

= form_with model: @recipe, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :original_url
    = f.text_field :original_url, class: 'form-control'
  .form-group
    = f.radio_button :category_id, "1", checked: true
    = f.label :category_id, "和食", value: "1"
    = f.radio_button :category_id, "2"
    = f.label :category_id, "洋食", value: "2"
    = f.radio_button :category_id, "3"
    = f.label :category_id, "中華", value: "3"
  .form-group
    = f.label :description
    = f.text_area :description, row: 5, class: 'form-control'
  .form-group
    = f.label :elapsed_minutes
    = f.number_field :elapsed_minutes, class: 'form-control'
  %h2= Food.model_name.human
  .form-group
    = f.fields_for :foods do |food|
      = food.label :name
      = food.text_field :name, class: 'form-control'
  %h2= Step.model_name.human
  .form-group
    = f.fields_for :steps do |step|
      = step.label :description
      = step.text_field :description, class: 'form-control'
  %h2= Kitchenware.model_name.human
  .form-group
    = f.fields_for :kitchenwares do |kw|
      = kw.label :name
      = kw.text_field :name, class: 'form-control'

  %br
  = f.submit nil, class: 'btn btn-primary'
