- if @recipe.errors.present?
  %ul#error_explanation
    - @recipe.errors.full_messages.each do |message|
      %li= message

= form_with model: @recipe, local: true do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :original_url
    = f.text_field :original_url, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, row: 5, class: 'form-control'
  .form-group
    = f.label :elapsed_minutes
    = f.text_field :elapsed_minutes, class: 'form-control'
  %h2 材料
  = f.fields_for :foods do |food|
    = food.label :name
    = food.text_field :name
  %h2 つくりかた
  = f.fields_for :steps do |step|
    = step.label :description
    = step.text_field :description
  %h2 必要な道具
  = f.fields_for :kitchenwares do |kw|
    = kw.label :name
    = kw.text_field :name

  %br
  = f.submit nil, class: 'btn btn-primary'
