!!!
%html
  %head
    %meta{charset: 'UTF-8'}/
    %meta{ name:"viewport", content: "target-densitydpi=device-dpi, width=device-width, maximum-scale=1.0, user-scalable=yes"}

    %title ズボラッシュ
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{ style: "-webkit-text-size-adjust: 100%;" }
    = render 'layouts/header'

    .container.mt-3
      - if flash.notice.present?
        .alert.alert-success= flash.notice
      = yield
